<section class="page-template">
  <div class="container">
    <h1 class="section-heading">{{ page.title | escape }}</h1>
    <div class="page-template__content">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "settings": []
}
{% endschema %}
